[Unit]
Description=Multiplexor
After=network.target

[Service]
#User=nobody
#Group=nogroup
Restart=always
ExecStart=/usr/local/bin/multiplexor-server

[Install]
WantedBy=multi-user.target